.card {
    max-width: 70%;
    min-width: 200px;
    width: max-content;
}
.card-body {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
}
.card-title {
    margin-bottom: 0;
}
.message-text {
    margin-bottom: 4px;
}
.message-date {
    margin-left: auto;
    margin-bottom: 0;
    font-size: 12px;
}
